<ion-content>
  <div class="center flex" id="chat-notice-menu">
    <div class="col" ng-click="showNoticePopup();">
      <button class="button ion-alert-circled"></button>
      <p>Notice</p>
    </div>
    <div class="col" ng-click="toggleBookmarkOnly();" >
      <button ng-class="{'button ion-ios7-star': toggles.bookmarkOnly, 'button ion-ios7-star-outline': !toggles.bookmarkOnly }"></button>
      <p>Bookmark</p>
    </div>
    <div class="col" ng-click="toggleTTS();" >
      <button ng-class="{'button ion-volume-medium': toggles.useTTS, 'button ion-volume-mute': !toggles.useTTS }"></button>
      <p>TTS</p>
    </div>        
  </div>
  <div class="list">
    <div class="item item-icon-left transparent" ng-click="openFriendModal();">
      <i class="icon ion-plus"></i>Invite
    </div>
    <div class="item item-icon-right transparent" ng-repeat="user in channelUserDatas">
      <img class="img-friend" ng-src="{{user.I}}" />
      <h2>{{user.NM}}</h2>
      <i ng-class="{'icon ion-thumbsup' : user.agree === 'Y', 'icon ion-thumbsdown' : user.agree === 'N'}"></i>
    </div>
  </div>
</ion-content>