<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{channelName}}">
  <ion-content padding="true" class="has-header" start-y="120">
    <ol class="messages">
      <li ng-repeat="message in messages" ng-class="message.type">
        <div ng-if="message.type=='R'">
          <div class="small">{{message.name}}</div>
          <div class="from">
            <img ng-src="{{message.image}}" class="profile" />
            <span class="from">{{message.message}}</span>
          </div>
        </div>
        <div ng-if="message.type=='RI'">
          <div class="small">{{message.name}}</div>
          <div class="from">
            <img ng-src="{{message.image}}" class="profile" />
            <span>
              <img ng-src="{{message.message}}" image-link="{{message.afterLoad}}" class="from"/>
            </span>
          </div>
        </div>
        <div ng-if="message.type=='SI'">
          <span>
            <img ng-src="{{message.message}}" image-link="{{message.afterLoad}}"/>
          </span>
        </div>        
        <div ng-if="message.type=='S'">
          <span>{{message.message}}</span>
        </div>
        <div ng-if="message.type=='T' || message.type=='J'">
          <span class="date">{{message.message}}</span>
        </div>                              
      </li>      
    </ol>
    <input type="file" id="file"/>  
  </ion-content>
  <ion-footer-bar class="bar-frosted" >
    <button id="btn-plus" class="button icon ion-plus-round" ng-click="showPopup()"></button>
    <button id="btn-close" style="display:none;" class="button icon ion-close-round" ng-click="closePopup()"></button>
    <input type="text" ng-model="inputMessage" placeholder="Start typing..." ng-enter="send();" style="margin:0 10px 0 10px;"/>
    <button class="button button-positive" style="min-width:50px;" ng-click="send()" >Send </button>
  </ion-footer-bar>
  <div class="chat-extends" id="chat-extends">
    <button class="button icon ion-plus-circled" ng-click="openFriendsModal()"></button>
    <button class="button icon ion-filing" ng-click="openFileDialog()" ></button>
  </div>
</ion-view>