<ion-view hide-nav-bar="true"> 
  <ion-content padding="true" start-y="120" has-bouncing="false">
    <div class="card">
      <div class="item item-divider">
        Log out
      </div>
      <div class="item item-text-wrap">
        Log out and close of your session automatically if you log in with a different device.
      </div>
      <div class="item item-divider">
        <button id="gotoHome" class="button icon-left ion-home button-block button-dark" ng-click="gotoSignIn();">
          Go to <b>login page</b>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>