<div class="modal" ng-controller="UsersModalCtrl">

  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-icon ion-close no-drag" ng-click="modal.hide()"></button>
    <h1 class="title">Select your friends</h1>
    <button class="button button-icon icon-right ion-checkmark" ng-click="addFriends()" ng-disabled='modal.selection.length == 0'>OK&nbsp;</button>
  </ion-header-bar>

  <ion-header-bar class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper input-search">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input id="searchKey" type="search" placeholder="Search" ng-model="modal.search" autocorrect="off">
    </label>
    <button class="button button-positive button-search" ng-click='searchUsers()'>
          <i class="icon ion-search"></i>
    </button>
  </ion-header-bar>

  <ion-content class="has-header" delegate-handle="modalContent">
    <ion-list>
      <ion-item class="item item-checkbox" ng-repeat="data in modal.datas">
        <label class="checkbox" >
          <input type="checkbox" ng-click='toggleSelection("{{data.U}}")' ng-checked='modal.selection.indexOf("{{data.U}}") > -1 || modal.channelUsers.indexOf("{{data.U}}") > -1 ' ng-disabled='modal.channelUsers.indexOf("{{data.U}}") > -1'/>
        </label>
        <img class="img-friend" ng-src="{{data.DT.I}}" />
        <h2>{{data.DT.NM}}</h2>
        <p>{{data.DT.MG}}</p>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="modal.visible" on-infinite="retrieveUsers()"></ion-infinite-scroll>

    <div class="card" ng-if="modal.datas.length == 0">
      <div class="item item-text-wrap">
        User is not existed.
      </div>
    </div>
  </ion-content>

</div>
