<ion-view title="Sign-In" hide-nav-bar="{{hideNavbar}}" hide-back-button="true" class="signin-background">
  <ion-nav-buttons side="right">
    <div class="close-button">
      <img id="close-button" ng-src="img/button_close.png" ng-click="close();">
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="list signin-content">

      <div class="item item-image padding" style="border:none;margin-top:50px;margin-bottom:50px;">
          <img src="img/logo.png" style="max-width: 463px;" />
      </div>

      <label class="item item-input">
        <!--
        <paper-input floatingLabel label="User Id" ng-model="user.userid"></paper-input>
        -->
        <span class="input-label">Id</span>
        <input type="text" ng-model="user.userId" id="userId" />
      </label>
      <label class="item item-input">
        <!--
        <paper-input type="password" floatingLabel label="Password" ng-model="user.password"></paper-input>
        -->
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" />
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign-In
      </button>
      <div class="button-bar">
        <a href="#/forgot-password" class="button button-small button-assertive">Forgot password</a>
        <a href="#/sign-up" class="button button-small button-dark">Sign-Up</a>
      </div>
    </div>
  </ion-content>

</ion-view>