<ion-view title="Sign-In" hide-nav-bar="true" hide-back-button="true" class="signin-background">
  <ion-content>
    <div class="list signin-content" >
      <label class="item item-input">
        <!--
        <paper-input floatingLabel label="User Id" ng-model="user.userid"></paper-input>
        -->
        <span class="input-label">Id</span>
        <input type="text" ng-model="user.userid">
      </label>
      <label class="item item-input">
        <!--
        <paper-input type="password" floatingLabel label="Password" ng-model="user.password"></paper-input>
        -->
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign-In
      </button>
      <div class="button-bar">
        <a href="#/forgot-password" class="button button-small button-assertive">Forgot password</a>
        <a href="#/sign-up" class="button button-small button-dark">Sign-Up</a>
      </div>
    </div>

  </ion-content>

</ion-view>
