<ion-view title="Sign-In" hide-nav-bar="{{hideNavbar}}" hide-back-button="true" class="signin-background">
  <ion-nav-buttons side="right">
    <div class="close-button">
      <img id="close-button" ng-src="img/button_close.png" ng-click="close();">
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="list signin-content">

      <div class="center" style="border:none;margin-top:20px;">
        <h2><span>messenger</span><span class="positive">X</span></h2>
      </div>

      <div class="item item-image padding" style="border:none;margin-top:20px;margin-bottom:40px;">
          <img src="img/login.png" style="max-width: 128px;" />
      </div>

      <div class="list list-inset">
        <label class="item-bottom item-input-icon">
          <i class="icon ion-key placeholder-icon"></i>
          <input type="text" placeholder="ID" ng-model="user.userId" id="userId">
        </label>
        <label class="item-bottom item-input-icon">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign In
      </button>
      <!--
      <div class="button-bar">

        <a href="#/forgot-password" class="button button-small button-assertive">Forgot password</a>
        <a href="#/sign-up" class="button button-small button-dark">Sign-Up</a>
      </div>
      -->
      <div class="center" style="color:#aaa">
        <span>Don't have an account?</span>
        <span class="positive" style="cursor:pointer;" ng-click="gotoSignUp()">Sign up here!
          <i class="icon ion-arrow-right-c"></i>
        </span>
      </div>
    </div>
  </ion-content>

</ion-view>
