<ion-view title="Friends">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()">
      LogOut
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" >
    <ion-list>
      <div class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" search-by-key post="postFriends" reset="resetFriends" items="friends">
      </div>
      <div class="item item-divider">
        Profile
      </div>
      <ion-item class="item item-avatar" ng-click="gotoAccount()">
      <img ng-src="{{loginUser.image}}" />
        <h2>{{loginUser.userName}}</h2>
        <p>{{loginUser.message}}</p>
      </ion-item>
      <div class="item item-divider">Friends({{friendCount}})
        <!--
        <button class="ion-refresh" ng-click="syncFriends()">
        </button>
        -->
      </div>
    	<ion-item ng-repeat="friend in friends" class="item item-avatar" ng-click='gotoChat("{{friend.user_id}}")'>
        <img ng-src="{{friend.image}}" />
        <h2>{{friend.user_name}}</h2>
        <p>{{friend.message}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <button class="button icon ion-person-add button-add-friend" ng-click="openUserModal()"></button>
</ion-view>