<ion-view title="Account">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()" ng-if=" !nodeWebkit ">
      <i class="icon ion-log-out"></i>
    </button>
    <div class="close-button" ng-if=" nodeWebkit ">
      <img id="close-button" ng-src="{{rootImgPath}}/button_close.png" ng-click="close()">
    </div>    
  </ion-nav-buttons>
  <ion-content class="has-header padding" has-bouncing="true">
		<div class="list card">
		  <div class="item item-divider">
		    User Profiles.
		  </div>
	    <a class="item item-thumbnail-left" >
	    	<div class="account-profile">
	      	<img ng-src="{{loginUser.image}}" />
	    	</div>
	      <label class="item item-input">
    			<input type="text" placeholder="Name" ng-model="loginUser.userName" />
  			</label>	      
	      <label class="item item-input">
    			<input type="text" placeholder="Status Message" ng-model="loginUser.message" />
  			</label>
	  	</a>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
		  		<input type="text" placeholder="Select New Profile Image" ng-model="newImage" />
				</label>
				<button class="button button-small" ng-click="updateUserInfo(newImage);">
		  		Submit
				</button>
			</div>  	
	  </div>
  </ion-content>
</ion-view>