<ion-view title="Custom Emoticons">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()" ng-if=" !nodeWebkit ">
      <i class="icon ion-log-out"></i>
    </button>
    <div class="close-button" ng-if=" nodeWebkit ">
      <img id="close-button" ng-src="{{rootImgPath}}/button_close.png" ng-click="close()">
    </div>    
  </ion-nav-buttons>
  <ion-content class="has-header" has-bouncing="true">
    <ion-list>
	    <div class="row" ng-repeat="item in emoticon.items" >
	      <div class="col" ng-repeat="image in item">
	        <img class="emoticon" ng-src="{{image}}" />
	      </div>
	    </div>
		  <div class="item" style="text-align:center;" ng-if="!emoticon.items">
		  	There is no custom emoticons.
		  </div>
		</ion-list>
	 	<input type="file" id="file"/>
  </ion-content>
  <progress id="progress_bar" class="floating-progress" style="display:none" value="0" max="100"></progress>
  <button class="button button-yellow icon ion-plus-round button-add" ng-click="openFileDialog()"></button>
</ion-view>