<ion-view title="Channels">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()">
      LogOut
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="channel in channelArray" ng-click="goChat('{{channel.channel_id}}')" class="item item-channel">
        <img channel-image users="channel.channel_users" channel-name="channel.channel_name" image="channel.channel_image" ></img>
        <div>
          <h2 class="name">{{channel.channel_name}}</h2>
          <span channel-users users="channel.channel_users">
          </span>
        </div>
        <p class="clear item-img" ng-if=" channel.latest_message == '@image@' ">
          <img src="http://maps.google.com/mapfiles/kml/pal3/icon55.png" ></img>
          <span>image</span>
        </p>
        <p class="clear" ng-if=" channel.latest_message != '@image@' ">{{channel.latest_message}}&nbsp;</p>
        <span ng-if="channel.unread_count > 0" class="channel-message-unread">{{channel.unread_count}}</span>
        <span updated-time timestamp="channel.channel_updated"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>