<ion-view title="Friends">
  <ion-content class="has-header">
    <ion-list>
    	<ion-item ng-repeat="friend in friends" type="item-text-wrap" ng-click="goChat('{{friend.uid}}')">
    	<!--
      	<ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
  		-->
        {{friend.name}}
      </ion-item>
    </ion-list>
    <div class="bar bar-footer">
      <button class="button icon ion-plus-circled" ng-click="showPopup()"></button>
    </div>
  </ion-content>
</ion-view>
