<ion-view title="Messages">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()" ng-if=" !nodeWebkit ">
      <i class="icon ion-log-out"></i>
    </button>
    <div class="close-button" ng-if=" nodeWebkit ">
      <img id="close-button" ng-src="{{rootImgPath}}/button_close.png" ng-click="close()">
    </div>    
  </ion-nav-buttons>
  <div class="item item-input" style="margin-top:44px">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search Messages" ng-model="data.searchKey" ng-enter="scan()">
    <button class="button button-positive button-search" ng-click='scan()'>
      <i class="icon ion-search"></i>
    </button>
  </div>
  <ion-content padding="true" class="has-header" style="top:110px;" has-bouncing="true">
    <ol class="messages">
      <li ng-repeat="message in messages" class="R">
        <div ng-if="message.type=='R' || message.type=='S' ">
          <div class="small inline">{{message.name}}</div>
          <div class="time inline">{{message.date}}</div>
          <div class="from">
            <img ng-src="{{message.image}}" class="profile" />
            <span class="from">{{message.message}}</span>
          </div>
        </div>
        <div ng-if="message.type=='RI' || message.type=='SI' ">
          <div class="small">{{message.name}}</div>
          <div class="from">
            <img ng-src="{{message.image}}" class="profile" />
            <span
              <img ng-src="{{message.message}}" popup-link class="from" type="{{message.type}}"/>
            </span>
          </div>
        </div>
      </li>
      <div style="text-align:center;" ng-if="messages.length == 0 ">
        There is no messages in condition.
      </div>
    </ol>
  </ion-content>
</ion-view>