<ion-view title="Account">
  <ion-content class="has-header padding">
		<div class="list card">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="{{loginUser.image}}" />
	      <h2>{{loginUser.userId}}</h2>
	      <p>{{loginUser.name}}</p>
	  	</a>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
		  		<input type="text" placeholder="Email" ng-model="loginUser.image" />
				</label>
				<button class="button button-small">
		  		Submit
				</button>
			</div>	  	
	  </div>  
  </ion-content>
</ion-view>