body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	float:left;
	clear:both;
	max-width:85%;
	margin:0 0 0.725rem 0;
	padding:0;
}

.messages li.T, .messages li.J {
	clear:both;
	float: none;
	max-width:100%;
}

.messages li.S, .messages li.SI, .messages li.SVI, .messages li.SE, .messages li.SV, .messages li.SVP{
	float:right;
}

.messages span {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.975rem;
	display:block;
}

.messages div.small {
	padding:.125rem;
	color:#5ba0d0;
	margin:0;
	font-size:1rem;
	display:block;
}

.messages .from span {
	float: left;
	margin: 0 5px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	word-wrap: break-word;
	max-width:82%;
}

.messages img {
	display:block;
	border-radius:.75rem;
}

.messages .from img {
	padding: 0px;
	margin: 0px;
	max-width: 200px;
	min-height: 22px;
	border-radius:.75rem;
	display:block;
}

.messages .from span.time {
	border-radius:.25rem;
	float: left;
	margin-left: -5px;
	background:#FFFFFF;
	font-size:.775rem;
	padding:.125rem;
	text-overflow: ellipsis;
	overflow-x: hidden;
	word-wrap: break-word;
	max-width:90%;
}

.messages span.date {
	display: table;
	position: relative;
	min-width: 200px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	font-size:.91rem;
	background:#FFFFFF;
	color:#8e8e93;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.messages li.S span, .messages li.SI span, .messages li.SVI span, .messages li.SV span, .messages li.SVP span {
	background:#158ffe;
	color:#fff;
}

.messages li.SE span, .messages li.RE span{
	background:transparent;
	color:#fff;
}

.messages li.SI img {
	display:block;
	border-radius:.75rem;
	max-width: 200px;
	min-height: 22px;
}

.messages li.SE img, .messages li.RE img {
	display:block;
	max-width: 100px;
	min-height: 22px;
}

.messages img.profile {
	display:inline;
	width: 40px;
	height: 40px;
	float: left;
}

.signin-content {
    bottom: 1px !important; /* place bar-subfooter above footer */
}

.tiny-profile img {
	width:32px;
	height:32px;
}

.tiny-profile span {
	color : #000000;
	line-height: 32px;
	display: inline-block;
	text-overflow: ellipsis;
	vertical-align: top;
	padding-left: 4px;
	margin-right: 20px;
	max-width: 175px;
}

.total-unread-message {
	height:24px;
	padding:4px 8px;
}

input:disabled + .checkbox-icon:before {
    border-color: silver !important;
}
input:disabled:checked + .checkbox-icon:before {
    background-color: silver !important;
}

.item-users img {
	position: absolute;
	top: 15px;
	left: 50px;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	border-radius: 4px;
}

.item-users p {
	margin-top : 10px;
	margin-left: 40px;
	height: 38px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


paper-input {
  width: 100%;
}

.button-add-friend {
	position: absolute;
	right : 10px;
	bottom : 60px;
	border-radius: 40px	;
	z-index:999;
}

.channel-message-unread {
	top : 50px;
	left: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	color: #AAAAAA;
	z-index: 1;
	display: inline-block;
	padding: 3px 8px;
	min-width: 10px;
	border-radius: 10px;
	vertical-align: baseline;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	background-color: #ef4e3a;
	color: #fff;
}

.channel-time {
	float: right;
	color: #aaa;
	font-size: 14px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.item-channel  {
	padding-left: 80px;
	min-height: 70px;
}

.item-channel h2{
	float: left;
}

.clear {
	clear: both;
}

.item-channel .users {
	display: inline;
	position: absolute;
	margin-left: 10px;
	font-size: 13px;
}

.item-channel .users {
	display: inline;
	position: absolute;
	margin-left: 10px;
	font-size: 13px;
}

.item-channel .users img{
	width:16px;
	height:16px;
}

.item-channel .hidden {
	display: none;
}

.item-channel .item-img img{
	width:20px;
	height:20px;
	float:left;
}

.item-channel .item-img span{
	float:left;
	padding-left: 5px;
}

.item-channel > img:first-child, .item-channel .item-image, .item-channel .item-content > img:first-child, .item-channel .item-content .item-image, .item-channel-left > img:first-child, .item-channel-left .item-image, .item-channel-left .item-content > img:first-child, .item-channel-left .item-content .item-image {
 	position: absolute;
	top: 15px;
	left: 15px;
	max-width: 50px;
	max-height: 50px;
	width: 100%;
 }

 .account-profile {
   position: absolute;
   left:13px;
   top:21px;
 }

 .account-profile img {
	max-width: 80px;
	max-height: 80px;
	display:block;
 }

 .img-friend{
    float: left;
    margin-right: 10px;
    top: 15px;
    left: 15px;
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    border-radius: 4px; }

/*
* override ionic css
*/
.popup-body {
	padding: 10px;
	max-height: 373px;
	min-height: 294px;
	overflow-y: auto;
}

#file {
	display: none;
}

.chat-extends, .chat-emoticon{
	display:none;
	position:absolute;
	z-index:999;
	top:44px;
	left:0px;
	opacity:0.8;
	display:none;
	width:100%;
	background: #F0F3F8;
}

.chat-extends div{
	text-align: center;
}

img.emoticon{
	max-width: 90px;
	max-height: 90px;
	width: 100%;
	height: 100%;
}

.tab-emoticon {
	position: relative;
	top : 0px;
	background: #F0F3F8;	
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.hide {
	-webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.center {
	text-align: center;
}