body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	float:left;
	clear:both;
	max-width:85%;
	margin:0 0 0.725rem 0;
	padding:0;
}

.messages li.me {
	float:right;
}

.messages li.me img {
	float:right;
}

.messages span {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.975rem;
	display:block;
}

.messages div.small {
	padding:.125rem;
	color:#5ba0d0;
	margin:0;
	font-size:1rem;
	display:block;
}

.messages .from span {
	float: left;
	margin: 0 5px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	word-wrap: break-word;
	max-width: calc(100% - 90px);
}

.messages .from span.time {
	border-radius:.25rem;
	float: left;
	margin-left: -5px;
	background:#FFFFFF;
	font-size:.775rem;
	padding:.125rem;
	text-overflow: ellipsis;
	overflow-x: hidden;
	word-wrap: break-word;
	max-width:90%;
}

.messages li.me span {
	background:#158ffe;
	color:#fff;
}

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

.messages img.profile {
	display:inline;
	width: 40px;
	height: 40px;
	float: left;
}

.signin-background {
  background-image: url('../img/login-background.jpg');
}

/*.signin-content {
  position: fixed;
  bottom: 20px;
}*/

.signin-content {
    bottom: 1px !important; /* place bar-subfooter above footer */
}

.tiny-profile img {
	width:32px;
	height:32px;
}

.tiny-profile span {
	color : #000000;
	line-height: 32px;
	display: inline-block;
	text-overflow: ellipsis;
	vertical-align: top;
	padding-left: 4px;
	margin-right: 20px;
	max-width: 175px;
}

.total-unread-message {
	height:24px;
	padding:4px 8px;
}

input:disabled + .checkbox-icon:before {
    border-color: silver !important;
}
input:disabled:checked + .checkbox-icon:before {
    background-color: silver !important;
}

.item-users img {
	position: absolute;
	top: 15px;
	left: 50px;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	border-radius: 4px;
}

.item-users p {
	padding-top: 10px;
	margin-left: 40px;	
	height: 38px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}